# Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 

You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
# Importing Libraries

import numpy as np
import pandas as pd
from selenium import webdriver
from time import sleep
import time 
import string
from random import randint
import warnings
warnings.filterwarnings("ignore")


# Loading Driver
driver = webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

#Giving name of the website we have to  scrap
url = "https://www.naukri.com/"

# Getting Url
driver.get(url)

Job_Title = []
Location = []
Company_Name = []
Experience_Required = []


time.sleep(4)

driver.switch_to_window(driver.window_handles[1])
driver.close()
time.sleep(2)
driver.switch_to_window(driver.window_handles[2])
driver.close()
time.sleep(4)
driver.switch_to_window(driver.window_handles[1])
driver.close()
driver.switch_to_window(driver.window_handles[0])

time.sleep(4)

Task1=driver.find_element_by_xpath("//div[@class='privacyPolicy']/div//button")
Task1.click()

time.sleep(15)

Task2 =driver.find_element_by_xpath("//span[@class='fr geoLocBtn later']")
Task2.click()

time.sleep(5)

Task3=driver.find_element_by_xpath("//div[@class='inpWrap']/input")
Task3.send_keys('Data Analyst')

time.sleep(5)

Task4= driver.find_element_by_xpath("//div[2][@class='suggestor-location']//div[@class='sWrap']//input")
Task4.send_keys('Bangalore')

time.sleep(2)

Task5= driver.find_element_by_xpath("//div[@class='qsb-main-content row']//button")
Task5.click()

time.sleep(4)

Task6 = driver.find_elements_by_xpath("//div[@class='jobTupleHeader']/div/a")

# Getting Job title Data.
for qw in Task6:
    we  = qw.text
    Job_Title.append(we)

# Putting this data in dataframe.
Job_Title = pd.DataFrame(Job_Title)
Job_Title = Job_Title.rename({ 0 : 'Job Title'} , axis = 1 )

time.sleep(3)


Task7 = driver.find_elements_by_xpath("//div[@class='info fleft']//a[@class='subTitle ellipsis fleft']")

time.sleep(3)

# Getting Company Name 
for rt in Task7:
    yu = rt.text
    Company_Name.append(yu)

# Putting Data in DataFrame
Company_Name = pd.DataFrame(Company_Name)
Company_Name= Company_Name.rename({0 : 'Company Name'}, axis=1)

Task8 = driver.find_elements_by_xpath("//ul[@class='mt-7']//li[@class='fleft grey-text br2 placeHolderLi location']/span")


# Getting location Data
for yu in Task8:
    ui = yu.text
    Location.append(ui)


Location =pd.DataFrame(Location)

Location=Location.rename( columns = { 0 : 'Location'} )


Task9 = driver.find_elements_by_xpath("//ul[@class='mt-7']/li[1]//span[@class='ellipsis fleft fs12 lh16']")


# Getting experience required.
for ui in Task9:
    op = ui.text
    Experience_Required.append(op)
Experience_Required[0:5]

Experience_Required = pd.DataFrame(Experience_Required)
Experience_Required  = Experience_Required.rename(columns = { 0 : 'Experience'})


Naukri_Jobs = pd.concat([Job_Title,Company_Name,Location ,Experience_Required ] ,axis=1)
Naukri_Jobs1 =Naukri_Jobs.iloc[0:10]

# Getting our Final Data Analyst Job Data
Naukri_Jobs1

,Job Title,Company Name,Location,Experience
0,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",0-3 Yrs
1,Data Analyst,Hk solutions,"Chennai, Delhi NCR, Bengaluru",0-3 Yrs
2,Intern - DFM Data Analyst,GLOBALFOUNDRIES Engineering Private Limited,Bengaluru,0-5 Yrs
3,Hiring Data Analysts on Contract Third party p...,Flipkart Internet Private Limited,Bengaluru,2-6 Yrs
4,Reliability Data Analyst,Alstom Transport India Ltd.,Bengaluru,3-8 Yrs
5,Senior Data Analyst,Myntra,Bengaluru,2-7 Yrs
6,Data Analyst,Ladder of changes,Bengaluru,0-5 Yrs
7,Data Analyst / Business Analyst,Altisource,Bengaluru,1-6 Yrs
8,Hiring For Data Analyst RE) - Bangalore,TELEPERFORMANCE GLOBAL SERVICES,Bengaluru(Bellandur),2-6 Yrs
9,Specialist I / II - Data Analyst,Philips India Limited,Bengaluru,5-7 Yrs

# Write a python program to scrape data for “Data Scientist” Job position in Bangalore” location. 

You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data

In [3]:
# Loading Driver
driver = webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

#Giving name of the website we have to  scrap
url = "https://www.naukri.com/"

# Getting Url
driver.get(url)

Job_Title = []
Location = []
Company_Name = []
Full_Job_Description = []

time.sleep(4)

driver.switch_to_window(driver.window_handles[1])
driver.close()
time.sleep(2)
driver.switch_to_window(driver.window_handles[2])
driver.close()
time.sleep(4)
driver.switch_to_window(driver.window_handles[1])
driver.close()
driver.switch_to_window(driver.window_handles[0])

time.sleep(4)

Task1=driver.find_element_by_xpath("//div[@class='privacyPolicy']/div//button")
Task1.click()

time.sleep(15)

Task2 =driver.find_element_by_xpath("//span[@class='fr geoLocBtn later']")
Task2.click()

time.sleep(5)

Task3=driver.find_element_by_xpath("//div[@class='inpWrap']/input")
Task3.send_keys('Data Analyst')

time.sleep(5)

Task4= driver.find_element_by_xpath("//div[2][@class='suggestor-location']//div[@class='sWrap']//input")
Task4.send_keys('Bangalore')

time.sleep(2)

Task5= driver.find_element_by_xpath("//div[@class='qsb-main-content row']//button")
Task5.click()

time.sleep(4)

Task6 = driver.find_elements_by_xpath("//div[@class='jobTupleHeader']/div/a")

#Getting Job title data
for qw in Task6:
    we  = qw.text
    Job_Title.append(we)
    
# Putting Data in dataframe   
Job_Title = pd.DataFrame(Job_Title)
Job_Title = Job_Title.rename({ 0 : 'Job Title'} , axis = 1 )


time.sleep(5)

# Getting company name data 
Task7 = driver.find_elements_by_xpath("//div[@class='info fleft']//a[@class='subTitle ellipsis fleft']")
time.sleep(5)
for rt in Task7:
    yu = rt.text
    Company_Name.append(yu)

#Putting Data in DataFrame
Company_Name = pd.DataFrame(Company_Name)
Company_Name= Company_Name.rename({0 : 'Company Name'}, axis=1  )

time.sleep(3)

# Getting Location Data
Task8 = driver.find_elements_by_xpath("//ul[@class='mt-7']//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for yu in Task8:
    ui = yu.text
    Location.append(ui)
    
Location =pd.DataFrame(Location)
Location=Location.rename( columns = { 0 : 'Location'} )

time.sleep(4)
Task9 = driver.find_element_by_xpath("//div[@class='content']/section//article/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
Task9.click()
time.sleep(4)
Task10 = driver.find_element_by_xpath("//div[@class='content']/section//article[2]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
Task10.click()
time.sleep(4)
Task11 = driver.find_element_by_xpath("//div[@class='content']/section//article[3]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
Task11.click()
time.sleep(4)
Task12 = driver.find_element_by_xpath("//div[@class='content']/section//article[5]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
Task12.click()
time.sleep(4)
Task13 = driver.find_element_by_xpath("//div[@class='content']/section//article[6]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
Task13.click()
time.sleep(4)
Task14 = driver.find_element_by_xpath("//div[@class='content']/section//article[7]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
Task14.click()
time.sleep(4)
Task15 = driver.find_element_by_xpath("//div[@class='content']/section//article[8]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
Task15.click()
time.sleep(4)
Task16 = driver.find_element_by_xpath("//div[@class='content']/section//article[9]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
Task16.click()
time.sleep(4)
Task17 = driver.find_element_by_xpath("//div[@class='content']/section//article[10]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
Task16.click()
time.sleep(4)
Task18 = driver.find_element_by_xpath("//div[@class='content']/section//article[11]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
Task18.click()

driver.switch_to_window(driver.window_handles[10])
#Getting Description
Task20 = driver.find_elements_by_xpath("//div[@class='jd-container']//section[@class='job-desc']")
Desc1 =[]
for hj in Task20:
    ko =hj.text
    Desc1.append(ko)
    
desc1=pd.DataFrame(Desc1)
time.sleep(4)

#Getting Description
driver.switch_to_window(driver.window_handles[9])

Desc2 =[]
Desc3 = []
Desc4 = []
Desc5 = []
Desc6 = []
Desc7 = []
Desc8 = []
Desc9 = []
Desc10 = []

# Getting Description
Task21 = driver.find_elements_by_xpath("//div[@class='jd-container']//section[@class='job-desc']")
for kl in Task21:
    zx = kl.text
    Desc2.append(zx)
desc2=pd.DataFrame(Desc2)


driver.switch_to_window(driver.window_handles[8])
time.sleep(4)

# Getting job Description
Task22 = driver.find_elements_by_xpath("//div[@class='entry-content-wrapper clearfix']//div[@class='clearboth description']")
for cv in Task22:
    bn= cv.text
    Desc3.append(bn)

desc3 = pd.DataFrame(Desc3)

driver.switch_to_window(driver.window_handles[7])
time.sleep(4)

Task23 = driver.find_elements_by_xpath("//div[@class='jd-container']//section[@class='job-desc']")
for mn in Task23:
    qe = mn.text
    Desc4.append(qe)
    
desc4 = pd.DataFrame(Desc4)

time.sleep(4)

driver.switch_to_window(driver.window_handles[6])
Task24= driver.find_elements_by_xpath("//div[@class='jd-container']//section[@class='job-desc']" )

for wr in Task24:
    et = wr.text
    Desc5.append(et)

desc5=pd.DataFrame(Desc5)

time.sleep(4)
driver.switch_to_window(driver.window_handles[5])

#Getting Job Description
Task25 =driver.find_elements_by_xpath("//div[@class='jd-container']//section[@class='job-desc']")
for yi in Task25:
    uo = yi.text
    Desc6.append(uo)
    
desc6 = pd.DataFrame(Desc6)

time.sleep(4)

driver.switch_to_window(driver.window_handles[4])

Task26 = driver.find_elements_by_xpath("//section[@class='job-desc']")
for ipk in Task26:
    adj = ipk.text
    Desc7.append(adj)
    
desc7= pd.DataFrame(Desc7)

#Getting Job Description

driver.switch_to_window(driver.window_handles[3])

Task27 = driver.find_elements_by_xpath("//div[@class='jd-container']//section[@class='job-desc']")
for ihl in Task27:
    adjd = ihl.text
    Desc8.append(adjd)
    
desc8 = pd.DataFrame(Desc8)

#Getting Job Description

driver.switch_to_window(driver.window_handles[2])

Task28 = driver.find_elements_by_xpath("//div[@class='jd-container']//section[@class='job-desc']")
for ihlk in Task28:
    adjds = ihlk.text
    Desc9.append(adjds)
    
desc9 = pd.DataFrame(Desc9)

time.sleep(4)

#Getting Job Description

driver.switch_to_window(driver.window_handles[1])
Task29 = driver.find_elements_by_xpath("//div[@class='clearboth description']")
for fk in Task29:
    al = fk.text
    Desc10.append(al)
    
desc10 = pd.DataFrame(Desc10)

# Getting Complete job descrption data 
Job_Description = pd.concat([desc1,desc2,desc3,desc4,desc5,desc6,desc7,desc8,desc9,desc10], axis=0)
Job_Description.index=range(10)
Job_Description=Job_Description.rename(columns ={ 0 : 'Job Description'})

Job_Title1 = Job_Title.iloc[0:10]
Company_Name1 =Company_Name.iloc[0:10]
Location1 = Location.iloc[0:10]

# Getting complete data 
Naukri_2= pd.concat([Job_Title1,Company_Name1,Location1,Job_Description], axis=1)
Naukri_2

,Job Title,Company Name,Location,Job Description
0,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",Job description\nDear Candidate\n\nSchedule a ...
1,Data Analyst,Hk solutions,"Chennai, Delhi NCR, Bengaluru",Job description\nRoles and Responsibilities : ...
2,Intern - DFM Data Analyst,GLOBALFOUNDRIES Engineering Private Limited,Bengaluru,Roles and Responsibilities\nSummary of Role:\n...
3,Hiring Data Analysts on Contract Third party p...,Flipkart Internet Private Limited,Bengaluru,Job description\nRoles and Responsibilities\nJ...
4,Reliability Data Analyst,Alstom Transport India Ltd.,Bengaluru,Job description\nRoles and Responsibilities\nS...
5,Senior Data Analyst,Myntra,Bengaluru,Job description\nRoles and Responsibilities\nR...
6,Data Analyst,Ladder of changes,Bengaluru,Job description\nGreetings from “Altisource bu...
7,Data Analyst / Business Analyst,Altisource,Bengaluru,Job description\nHiring for Data Analyst(RE)\n...
8,Hiring For Data Analyst RE) - Bangalore,TELEPERFORMANCE GLOBAL SERVICES,Bengaluru(Bellandur),Job description\nHiring for Data Analyst(RE)\n...
9,Specialist I / II - Data Analyst,Philips India Limited,Bengaluru,Roles and Responsibilities\nTeam Lead - CDM/PV...

# 3 - In this question you have to scrape data using the filters available on the webpage as shown below:
        
    You have to use the location and salary filter.
    You have to scrape data for “Data Scientist” designation for first 10 job results.
    You have to scrape the job-title, job-location, company_name, experience_required.
    The location filter to be used is “Delhi/NCR”
    The salary filter to be used is “3-6” lakhs

In [3]:
# Importing Libraries

import numpy as np
import pandas as pd
from selenium import webdriver
from time import sleep
import time 
import string
from random import randint
import warnings
warnings.filterwarnings("ignore")


# Loading Driver
driver = webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

#Giving name of the website we have to  scrap
url = "https://www.naukri.com/"

# Getting Url
driver.get(url)

Job_Title = []
Location = []
Company_Name = []
Experience_Required = []

time.sleep(4)

driver.switch_to_window(driver.window_handles[1])
driver.close()
time.sleep(2)
driver.switch_to_window(driver.window_handles[2])
driver.close()
time.sleep(4)
driver.switch_to_window(driver.window_handles[1])
driver.close()

time.sleep(4)

driver.switch_to_window(driver.window_handles[0])

time.sleep(4)

Task1=driver.find_element_by_xpath("//div[@class='privacyPolicy']/div//button")
Task1.click()

time.sleep(20)

Task2 =driver.find_element_by_xpath("//span[@class='fr geoLocBtn later']")
Task2.click()

time.sleep(5)

Task3=driver.find_element_by_xpath("//div[@class='inpWrap']/input")
Task3.send_keys('Data Analyst')

time.sleep(5)
Task5= driver.find_element_by_xpath("//div[@class='qsb-main-content row']//button")
Task5.click()

time.sleep(5)

Task6= driver.find_element_by_xpath("//div[@class='filters']/div[2]/div[2]/div[2]/label/i")
Task6.click()

time.sleep(10)
Task7= driver.find_element_by_xpath("//div[@class='filters']/div[3]/div[2]/div[2]/label/i")
Task7.click()

time.sleep(5)

#Getting Job Title data 
Task8 = driver.find_elements_by_xpath("//div[@class='jobTupleHeader']/div/a")
for qwa in Task8:
    weq  = qwa.text
    Job_Title.append(weq)
    
Job_Title = pd.DataFrame(Job_Title)
Job_Title = Job_Title.rename({ 0 : 'Job Title'} , axis = 1 )


time.sleep(5)

# Getting company name 
Task9 = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")

for rt in Task9:
    yu = rt.text
    Company_Name.append(yu)
Company_Name

Company_Name = pd.DataFrame(Company_Name)
Company_Name= Company_Name.rename({0 : 'Company Name'}, axis=1  )

time.sleep(5)

# Getting Location Data
Task10 = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
for yua in Task10:
    uia = yua.text
    Location.append(uia)
Location[0:5]

Location =pd.DataFrame(Location)
Location=Location.rename( columns = { 0 : 'Location'} )

time.sleep(5)

# Getting Experience required data 
Task11= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for uix in Task11:
    opx = uix.text
    Experience_Required.append(opx)
    
Experience_Required = pd.DataFrame(Experience_Required)
Experience_Required  = Experience_Required.rename(columns = { 0 : 'Experience'})


# Getting Final Data 
Naukri_Jobs = pd.concat([Job_Title,Company_Name,Location ,Experience_Required ] ,axis=1)
Naukri_Jobs3 =Naukri_Jobs.iloc[0:10]
Naukri_Jobs3

,Job Title,Company Name,Location,Experience
0,Data Analyst,Hk solutions,"Chennai, Delhi NCR, Bengaluru",0-3 Yrs
1,Data Analyst,Netomi,Gurgaon,0-1 Yrs
2,Data Analyst,Spectral Consultants,Gurgaon,3-6 Yrs
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Ghaziabad, Gurgaon",0-0 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Faridabad, Delhi NCR, Greater Noida",0-0 Yrs
5,MIS Executive / Data Analyst / Research Analyt...,GABA Consultancy services,"Delhi NCR, Greater Noida, Gurgaon",0-5 Yrs
6,Data Analyst / Business Analytics / Fresher An...,GABA Consultancy services,"Delhi NCR, Noida, Gurgaon",0-5 Yrs
7,Data Analyst,Snaphunt,Delhi NCR,2-5 Yrs
8,Data Analyst,Apex Sourcing Info Services Pvt. Ltd.,Delhi NCR,1-3 Yrs
9,Data Analyst - Protiviti Gurgaon,Protiviti India Member Private limited,Gurgaon,1-6 Yrs

# 4:-  Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location from glassdoor website. 
 You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [1]:
# Importing Libraries

import numpy as np
import pandas as pd
from selenium import webdriver
from time import sleep
import time 
import string
from random import randint
import warnings
warnings.filterwarnings("ignore")

# Loading Driver
driver = webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

#Giving name of the website we have to  scrap
url = "https://www.glassdoor.co.in/index.htm"

# Getting Url
driver.get(url)


Company_Name = []
Job_Posting_Days = []
Rating = []

Task1=driver.find_element_by_xpath("//div[@class='locked-home-sign-in']")
Task1.click()
time.sleep(5)
Task2=driver.find_element_by_xpath("//div[@class='minh-modal d-flex flex-column justify-content-between fullHeight mw-400']/div/div/div[3]//div[1]//input")
Task2.send_keys('koko65316531@gmail.com')
time.sleep(5)
Task3=driver.find_element_by_xpath("//div[@class='minh-modal d-flex flex-column justify-content-between fullHeight mw-400']/div/div/div[3]//div[2]//input")
Task3.send_keys('data9scientist@')
time.sleep(5)
Task4=driver.find_element_by_xpath("//button[@class='gd-ui-button minWidthBtn css-8i7bc2']")
Task4.click()
time.sleep(5)
Task5 = driver.find_element_by_xpath("//div[@class='d-flex col-6 p-0 SearchStyles__searchKeywordContainer']/div//input")
Task5.send_keys('Data Scientist')
time.sleep(5)
Task6 = driver.find_element_by_xpath("//div[@class='ml-xsm col-4 p-0 headerSearchInput SearchStyles__searchBarLocationInput css-1ohf0ui']/div[@class='input-wrapper css-q444d9']/input")
Task6.send_keys('Noida')
time.sleep(5)
Task7 =driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto css-iixdfr']/span")
Task7.click()
time.sleep(5)

#Getting company data 

Task8 = driver.find_elements_by_xpath("//div[@class='jobHeader d-flex justify-content-between align-items-start']/a")
Task8
for qt in Task8:
    af = qt.text
    Company_Name.append(af)
    
Company_Name1= pd.DataFrame(Company_Name)
Company_Name1 = Company_Name1.rename(columns = {0 : 'Company Name'})
Company_Name1

# Getting No of Days job posted data 
Task8 = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between css-1qtdns2']//div[@class='d-flex align-items-end pl-std css-mi55ob']")  if driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between css-1qtdns2']//div[@class='d-flex align-items-end pl-std css-mi55ob']") else '-' 
Task8

for dk in Task8:
    al = dk.text
    Job_Posting_Days.append(al)
    
Job_Posting_Days1 = pd.DataFrame(Job_Posting_Days)
Days_Posted =Job_Posting_Days1.rename(columns = { 0 : 'Days Posted'})

# Getting company rating data 
Task9 = driver.find_elements_by_xpath("//span[@class='compactStars ']")

for jb in Task9:
    al = jb.text
    Rating.append(al)
    
Rating1 = pd.DataFrame(Rating)
Rating2=Rating1.rename(columns  = {0 : 'Rating'} )

Company_Name2 = Company_Name1.iloc[0:10]
Days_Posted1 = Days_Posted.iloc[0:10]
Rating3 = Rating2.iloc[0:10]

# Getting complete Data scientist job Data From glassdoor.
Data_Scientist_Glassdoor  = pd.concat([Company_Name2 ,Days_Posted1 , Rating3] , axis=1)
Data_Scientist_Glassdoor

                              Company Name Days Posted Rating
0                                      IBM         24h    3.9
1                       Ericsson-Worldwide          3d      4
2  American Express Global Business Travel         22d    3.7
3                           Biz2Credit Inc         24d    3.7
4                                 Brickred          7d    3.7
5                                Algoscale         15d    3.4
6                          SearchUrCollege         15d    4.8
7                          Healtheoz India         15d      5
8                                 Techlive         22d      3
9                                 xtLytics          2d    3.1

# 5:- Write a python program to scrape the salary data for Data Scientist designation in Noida location.
    
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [2]:
# Importing Libraries

import numpy as np
import pandas as pd
from selenium import webdriver
from time import sleep
import time 
import string
from random import randint
import warnings
warnings.filterwarnings("ignore")


# Loading Driver
driver = webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

#Giving name of the website we have to  scrap
url = "https://www.glassdoor.co.in/Salaries/index.htm"

# Getting Url
driver.get(url)

Company_Name = []
No_Of_Salaries = []
Average_salary = []
Min_Salary = []
Max_Salary = []

time.sleep(5)
Task1= driver.find_element_by_xpath("//div[@class='search-bar minimized']/div//input[@class='keyword']")
Task1.send_keys("Data Scientist")
time.sleep(3)
Task2 =driver.find_element_by_xpath("//div[@class='search-bar minimized']/div//input[@class='loc']")
Task2.send_keys("Noida")
time.sleep(3)
Task3 = driver.find_element_by_xpath("//div[@class='search-bar minimized']//button")
Task3.click()
time.sleep(5)

# Getting Company Name Data 

Task4 = driver.find_elements_by_xpath("//div[@class='col-md-6']/div/div[2]//p[2]")
for qo in Task4:
    al = qo.text
    Company_Name.append(al)
    
Company_Name1= pd.DataFrame(Company_Name)
Company_Name1= Company_Name1.rename({0 : 'Company Name'},axis =1)

# Getting No of salaries data 
Task5 = driver.find_elements_by_xpath("//div[@class='col-md-6']/div/div[2]//p[5]")
for qm in Task5:
    zp = qm.text
    No_Of_Salaries.append(zp)
    
No_Of_Salaries1 = pd.DataFrame(No_Of_Salaries)
No_Of_Salaries1 = No_Of_Salaries1.rename({0 : 'No Of Salaries'} , axis =1)

# Getting Average Salary
Task6 = driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
for wb in Task6:
    ag = wb.text
    Average_salary.append(ag)

Average_salary1 = pd.DataFrame(Average_salary)
Average_salary1  = Average_salary1 .rename({ 0 : 'Average Salary'}, axis=1)

# Getting Minimum Salary Data 

Task7 = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
for vq in Task7:
    ap = vq.text
    Min_Salary.append(ap)
    
Min_Salary1 = pd.DataFrame(Min_Salary)
Min_Salary1 = Min_Salary1.rename({ 0 : 'Minimum Salary'},  axis=1)

# Getting Maximum salary data 
Task8 = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
for qv in Task8:
    ze = qv.text
    Max_Salary.append(ze)
    
Max_Salary1 = pd.DataFrame(Max_Salary)
Max_Salary1 = Max_Salary1.rename({0 : 'Maximum Salary'}, axis=1)

Data_Scientist_Glassdoor_Salaries = pd.concat([Company_Name1,No_Of_Salaries1,Average_salary1 ,Min_Salary1, Max_Salary1], axis=1)

# Getting Final Data

Data_Scientist_Glassdoor_Salaries  = Data_Scientist_Glassdoor_Salaries .iloc[0:10]
Data_Scientist_Glassdoor_Salaries

,Company Name,No Of Salaries,Average Salary,Minimum Salary,Maximum Salary
0,Delhivery,11 salaries,"₹ 13,18,563",₹706K,"₹11,513K"
1,Accenture,8 salaries,"₹ 9,85,497",₹572K,"₹1,300K"
2,IBM,7 salaries,"₹ 7,53,602",₹581K,"₹2,704K"
3,UnitedHealth Group,7 salaries,"₹ 13,23,634",₹710K,"₹1,559K"
4,Cognizant Technology Solutions,6 salaries,"₹ 9,97,979",₹785K,"₹1,251K"
5,Valiance Solutions,6 salaries,"₹ 7,72,507",₹497K,"₹1,140K"
6,Vidooly Media Tech,6 salaries,"₹ 12,689",₹8K,₹20K
7,Analytics Vidhya,6 salaries,"₹ 21,215",₹14K,₹22K
8,Tata Consultancy Services,5 salaries,"₹ 6,77,498",₹480K,"₹1,000K"
9,Ericsson-Worldwide,5 salaries,"₹ 7,34,456",₹460K,"₹1,598K"

# 6 - Shoes Data Scraping from my Myntra.com

In [5]:
# Importing Libraries 

import numpy as np 
import  pandas as pd
from selenium import webdriver
from time import  sleep
import time
import string
from random import randint
import warnings
warnings.filterwarnings("ignore")

# Loading driver 
driver = webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

#Giving name of the website we have to  scrap
url = "https://www.myntra.com/shoes"

# Getting Url
driver.get(url)

time.sleep(8)

Brand = []
Shoe_Description = []
Price = []

Task1 = driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label[@class='common-customCheckbox vertical-filters-label']//div[@class='common-checkboxIndicator']")
Task1.click()


time.sleep(5)

Task2 = driver.find_element_by_xpath("//ul/li[1][@class='colour-listItem']/label[1]/div")
Task2.click()
time.sleep(5)

# Getting Brand Data 
Task3 = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")

for qmx in Task3:
    qzp = qmx.text
    Brand.append(qzp)

Brand1 = pd.DataFrame(Brand)
Brand1 = Brand1.rename({ 0 : 'Brand'} , axis=1)
time.sleep(6)

# Getting Shoe Description Data
Task4 = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")

for qcp in Task4:
    qxp = qcp.text
    Shoe_Description.append(qxp)
    
time.sleep(5)   

Shoe_Description1 = pd.DataFrame(Shoe_Description)
Shoe_Description2=Shoe_Description1.iloc[0:100:2]
Shoe_Description2.index=range(50)
Shoe_Description2 = Shoe_Description2.rename({ 0 : 'Shoe Description'}, axis=1)

time.sleep(5)   

# Getting Shoe Price data 

Task5 = driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")

for qvp in Task5:
    ald = qvp.text
    Price.append(ald)

Price1 = pd.DataFrame(Price)
Price1['First'] =Price1[0].str.split(' ').str[0]
Price1['Second'] =Price1[0].str.split(' ').str[1]
Price1['Last'] =Price1[0].str.split(' ').str[2]
Price1['Most Last'] =Price1[0].str.split(' ').str[3]
Price1 =Price1.drop([0], axis=1)
Price1 =Price1.drop(['Last'], axis=1)
Price1 =Price1.drop(['Most Last'], axis=1)
Price1['Second'] = Price1['Second'].str.replace( 'Rs.' , ' ' )
Price1['Second'] = Price1['Second'].str.replace( '.' , ' ' )
Price1= Price1.drop(['First'] , axis= 1)
Price2 =Price1.rename(columns = { 'Second' : 'Price (Rs)'})
time.sleep(5)   
Shoes1 = pd.concat([Brand1 ,Shoe_Description2 , Price2] , axis=1)
time.sleep(5)   


# Getting Brand Data of next page
Task6 = driver.find_element_by_xpath("//li[@class='pagination-next']/a")
Task6.click()

Brand4 = [] 
Shoe_Description4 = [] 
Price4 = []

time.sleep(5)
Task7 = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
for qvl in Task7:
    adp = qvl.text
    Brand4.append(adp)
    
time.sleep(5)

Brand4 = pd.DataFrame(Brand4)
Brand4 = Brand4.rename({0:'Brand'}, axis =1)

time.sleep(5)   

# Getting Brand Description of next page

Task8 = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
for qcpv in Task8:
    qxpv = qcpv.text
    Shoe_Description4.append(qxpv)
    
Shoe_Description4 = pd.DataFrame(Shoe_Description4)
Shoe_Description4=Shoe_Description4.iloc[0:100:2]
Shoe_Description4.index=range(50)
Shoe_Description4 = Shoe_Description4.rename({ 0 : 'Shoe Description'}, axis=1)
time.sleep(5) 

#Getting Price Data from next page
Task9 = driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
for qvpz in Task9:
    aldz = qvpz.text
    Price4.append(aldz)
Price4 = pd.DataFrame(Price4)

Price4['First'] =Price4[0].str.split(' ').str[0]
Price4['Second'] =Price4[0].str.split(' ').str[1]
Price4['Last'] =Price4[0].str.split(' ').str[2]
Price4['Most Last'] =Price4[0].str.split(' ').str[3]

Price4=Price4.drop([0], axis=1)
Price4 =Price4.drop(['Last'], axis=1)
Price4 =Price4.drop(['Most Last'], axis=1)
Price4['Second'] = Price4['Second'].str.replace( 'Rs.' , ' ' )
Price4['Second'] = Price4['Second'].str.replace( '.' , ' ' )
Price4= Price4.drop(['First'] , axis= 1)
Price5 =Price4.rename(columns = { 'Second' : 'Price (Rs)'})
time.sleep(5) 

Shoes2 = pd.concat([Brand4 ,Shoe_Description4, Price5] , axis=1)

Shoes = pd.concat([Shoes1 , Shoes2] , axis =0)

# Getting Final Shoes Data
Shoes

               Brand              Shoe Description Price (Rs)
0   ADIDAS Originals        Men ZX 750 HD Sneakers      6799
1   ADIDAS Originals    Women Sleek Super Sneakers       7999
2   ADIDAS Originals   Men Solid AR Training Shoes      6799
3               Geox    Men Leather Formal Driving       9490
4             ADIDAS   Men FluidFlow Running Shoes       7999
..               ...                           ...        ...
45         Cole Haan   Men Wingtip Oxford Sneakers      12999
46              ALDO  Men Textured Leather Loafers      12999
47            Clarks    Men Leather Formal Loafers       6999
48    Reebok Classic   Men Royal Complete Clean LX       6999
49              Geox     Men Leather Formal Derbys      12990

[100 rows x 3 columns]

# 7 -  Scrape data for first 100 sneakers you find when you visit flipkart.com

In [7]:
# Importing Libraries 

import numpy as np 
import  pandas as pd
from selenium import webdriver
from time import  sleep
import time
import string
from random import randint
import warnings
warnings.filterwarnings("ignore")

# Loading driver 
driver = webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

#Giving name of the website we have to  scrap
url = "https://www.flipkart.com/"

# Getting Url
driver.get(url)

time.sleep(8)

Brand = []
Product_Description = []
Price = []
Discount = []

time.sleep(5)
Task1 = driver.find_element_by_xpath("//div[@class='_3Njdz7']/button")
Task1.click()
time.sleep(5)
Task2 = driver.find_element_by_xpath("//div[@class='O8ZS_U']/input")
Task2.send_keys('Sneakers')
time.sleep(5)
Task3 = driver.find_element_by_xpath("//button[@class='vh79eN']")
Task3.click()
time.sleep(5)

# Getting Brand data from first page
Task4 = driver.find_elements_by_xpath("//div[@class='_2B_pmu']")

for qc in Task4:
    qz = qc.text
    Brand.append(qz)
    
Brand1 = pd.DataFrame(Brand)
Brand1 = Brand1.rename(columns = { 0 : 'Brand'})
time.sleep(5)

# Getting Product Description data from first page
Task5 = driver.find_elements_by_xpath("//div[@class='_2LFGJH']/a[1]")

for qm in Task5:
    qzp = qm.text
    Product_Description.append(qzp)
Product_Description1 = pd.DataFrame(Product_Description)
Product_Description1 = Product_Description1.rename({ 0: 'Product Description'} , axis=1 )

time.sleep(5)

# Getting Price data from first page

Task6 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")

for apv in Task6:
    apx =apv.text
    Price.append(apx)
    
Price1 = pd.DataFrame(Price)
Price1 = Price1.rename(columns = { 0 : 'Price'})
Price2 = Price1.iloc[0:40]
time.sleep(5)

# Getting Discount data from first page
Task7 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span")
for gzp in Task7:
    avq = gzp.text
    Discount.append(avq)

Discount1 = pd.DataFrame(Discount)
Discount1 =Discount1.rename(columns = { 0 : 'Discount'})
Sneakers1 =pd.concat([Brand1,Product_Description1,Price2,Discount1] , axis=1)
time.sleep(5)
Task8 = driver.find_element_by_xpath("//a[@class='_3fVaIS']/span")
Task8.click()
time.sleep(5)


Brand3 = []
Product_Description3 = []
Price3 = []
Discount3 = []



# Getting Brand data from second page
Task9 = driver.find_elements_by_xpath("//div[@class='_2B_pmu']")

for qcx in Task9:
    qzx = qcx.text
    Brand3.append(qzx)

Brand3 = pd.DataFrame(Brand3)
Brand3 = Brand3.rename(columns = { 0 : 'Brand'})

time.sleep(5)

# Getting product description data from second page
Task10 = driver.find_elements_by_xpath("//div[@class='_2LFGJH']/a[1]")

for qmq in Task10:
    qzpq = qmq.text
    Product_Description3.append(qzpq)

Product_Description3 = pd.DataFrame(Product_Description3)
Product_Description3 = Product_Description3.rename({ 0: 'Product Description'} , axis=1 )

# Getting Price data from second page
time.sleep(5)

Task11 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")

for apvq in Task11:
    apxq =apvq.text
    Price3.append(apxq)

Price3 = pd.DataFrame(Price3)
Price3 = Price3.rename(columns = { 0 : 'Price'})


Price3 = Price3.iloc[0:40]
time.sleep(3)

# Getting Discount  data from second page
Task12 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span")

for gzpz in Task12:
    avqz = gzpz.text
    Discount3.append(avqz)

Discount3 = pd.DataFrame(Discount3)

Discount3 =Discount3.rename(columns = { 0 : 'Discount'})
time.sleep(2)
Sneakers2 =pd.concat([Brand3,Product_Description3,Price3,Discount3] , axis=1)
time.sleep(3)
Task14 = driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[3]")
Task14.click()
time.sleep(5)

Brand4 = []
Product_Description4 = []
Price4 = []
Discount4 = []

time.sleep(5)

# Getting Brand Data from third page
Task15 = driver.find_elements_by_xpath("//div[@class='_2B_pmu']")


for qcxq in Task15:
    qzxq = qcxq.text
    Brand4.append(qzxq)

Brand4 = pd.DataFrame(Brand4)
Brand4 = Brand4.rename(columns = { 0 : 'Brand'})

time.sleep(5)

# Getting Product Description  Data from third page

Task16 = driver.find_elements_by_xpath("//div[@class='_2LFGJH']/a[1]")

for qmqx in Task16:
    qzpqx = qmqx.text
    Product_Description4.append(qzpqx)

Product_Description4 = pd.DataFrame(Product_Description4)
Product_Description4 = Product_Description4.rename({ 0: 'Product Description'} , axis=1 )

time.sleep(5)

# Getting Price data from third page
Task17 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")

for apvqg in Task17:
    apxqg =apvqg.text
    Price4.append(apxqg)

Price4 = pd.DataFrame(Price4)
Price4 = Price4.rename(columns = { 0 : 'Price'})

Price4 = Price4.iloc[0:40]
time.sleep(3)

# Getting Discount Data from third page
Task18 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span")

for gzpzq in Task18:
    avqzq = gzpzq.text
    Discount4.append(avqzq)

Discount4 = pd.DataFrame(Discount4)

Discount4 =Discount4.rename(columns = { 0 : 'Discount'})

time.sleep(3)
Brand6 = Brand4.iloc[0:20]
Product_Description6 = Product_Description4.iloc[0:20]
Price6 = Price4.iloc[0:20]
Discount6 = Discount4.iloc[0:20]
time.sleep(3)
Sneakers3 =pd.concat([Brand6,Product_Description6,Price6,Discount6] , axis=1)

# Getting Final 100 Sneakers Data.
Sneakers_Final = pd.concat([Sneakers1,Sneakers2,Sneakers3] ,axis=0)
Sneakers_Final

,Brand,Product Description,Price,Discount
0,WROGN,Sneakers For Men,"₹1,349",50% off
1,Kraasa,Sneakers For Men,₹299,70% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹461,76% off
3,Chevit,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹236,52% off
4,Chevit,Chevit Latest Fashion Combo Pack of 2 Pairs Ca...,₹525,64% off
...,...,...,...,...
15,Bonexy,Sneakers For Men,₹499,50% off
16,Bersache,"Bersache Sports (Walking & Gym Shoes) Running,...",₹498,50% off
17,Essence,Sneakers For Men,₹374,62% off
18,Chevit,Combo Pack of 5 Casual Sneakers With Sneakers ...,₹599,75% off
19,BRUTON,Men Combo Pack of 3 Casual Sneakers For Men,₹649,78% off

# 8 - Web scraping of Laptop data from amazon.com

In [8]:
# import libraries
from bs4 import BeautifulSoup
import numpy as np
from time import sleep
from random import randint
import pandas as pd
from selenium import webdriver
import time
import string

# Loading Driver
driver = webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

# Give name of website we have to scrap
url="https://www.amazon.in/"

driver.get(url)

time.sleep(5)

Title = []
Rating = []
Price = []

time.sleep(5)

# Writing Laptop 
Task1 = driver.find_element_by_xpath("//div//div[@class='nav-search-field ']/input[@id='twotabsearchtextbox']")
Task1.send_keys('Laptop')
time.sleep(2)
Task2=driver.find_element_by_xpath("//div//span[@class='nav-search-submit-text nav-sprite']/input")
Task2.click()

time.sleep(2)
Task3=driver.find_element_by_xpath("//div/ul/li[17]/span/a/div/label/i")
Task3.click()
time.sleep(5)
Task3=driver.find_element_by_xpath("//div/ul/li[17]/span/a/div/label/i")
Task3.click()
time.sleep(5)

# Getting brand Data 
Task5=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")

for yu in Task5:
    hj=yu.text
    Title.append(hj)

Title=pd.DataFrame(Title)

time.sleep(5)

# Getting price Data
Task7=driver.find_elements_by_xpath("//div[@class='a-row']/div/a/span[@class='a-price']//span[@class='a-price-whole']") if ( driver.find_elements_by_xpath("//div[@class='a-row']/div/a/span[@class='a-price']//span[@class='a-price-whole']") ) else (' ')

for jk in Task7:
    sd=jk.text
    Price.append(sd)
    
time.sleep(5)
    
content = driver.page_source
soup = BeautifulSoup(content)
rating = soup.find_all('span' , class_='a-icon-alt')
Rating5 = []
for axc in rating:
    Rating5.append(axc.get_text())
Rating6 = pd.DataFrame(Rating5)

In [34]:
Title1 =Title.drop([0,1,14,15,28,29] , axis=0)

In [35]:
Title1.index=range(24)

In [36]:
Title2 =Title1.drop([3,6,10] ,axis=0)
Title2.rename(columns ={ 0 : 'Laptop Name'})

                                          Laptop Name
0   Dell Alienware m15(R3) 15.6-inch FHD Gaming La...
1   HP Pavilion x360 Core i7 8th Gen 14-inch Touch...
2   Asus Gaming Laptop ROG Strix G17 i7-10750H(16 ...
4   (Renewed) Dell Latitude E7240 12.5-inch Laptop...
5   (Renewed) HP EliteBook X360 1030 G2 Laptop (Co...
7   (Renewed) HP EliteBook 1030 G2 X 360 Notebook ...
8   (Renewed) Mi Notebook Horizon Edition 14 Intel...
9   Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...
11  HP 14s dr1006TU 14-inch Laptop (10th Gen Core ...
12  (Renewed) Dell Latitude E7240 12.5-inch Laptop...
13  (Renewed) Dell Latitude Laptop E7250 Intel Cor...
14  MSI Gaming GL65 Leopard , Intel 9th Gen. i7-97...
15  Dell 2019 Dell Inspiron 14 5482 14 Inch FHD 2-...
16  Dell XPS 9570 15.6-inch FHD Laptop (8th Gen Co...
17  Dell Alienware m15 15.6-inch FHD Gaming Laptop...
18  Dell Inspiron 7570 15.6-inch UHD 4K with Touch...
19  (CERTIFIED REFURBISHED) Dell Latitude 7389 13....
20  (Renewed) HP Omen 10th Gen Intel Core i7 Proce...
21  HP Notebook PC 340S G7 14-inch Laptop (10th Ge...
22  (Renewed) HP EliteBook 820 G1 Laptop (Core i7 ...
23  (Renewed) Dell XPS 9370 13.3-inch FHD Display ...

In [63]:
Title2.index =range(21)

In [65]:
Title3 = Title2.iloc[0:10]

                                         Laptop Name
0  Dell Alienware m15(R3) 15.6-inch FHD Gaming La...
1  HP Pavilion x360 Core i7 8th Gen 14-inch Touch...
2  Asus Gaming Laptop ROG Strix G17 i7-10750H(16 ...
3  (Renewed) Dell Latitude E7240 12.5-inch Laptop...
4  (Renewed) HP EliteBook X360 1030 G2 Laptop (Co...
5  (Renewed) HP EliteBook 1030 G2 X 360 Notebook ...
6  (Renewed) Mi Notebook Horizon Edition 14 Intel...
7  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...
8  HP 14s dr1006TU 14-inch Laptop (10th Gen Core ...
9  (Renewed) Dell Latitude E7240 12.5-inch Laptop...

In [66]:
Title3 =Title3.rename(columns = { 0 : 'Laptop Name'})

In [44]:
Price1 =pd.DataFrame(Price)

In [46]:
Price2 = Price1.drop([0,1,14,15,27,28], axis=0)

In [49]:
Price3 = Price2.drop ( [5,8,12] , axis= 0)
Price3= Price3.rename(columns = { 0: 'Price'})

In [51]:
Price4=Price3.iloc[0:10]
Price4.index=range(10)
Rating7 =Rating6.iloc[5:25]
Rating7.index=range(20)

In [53]:
Rating8 = Rating7.iloc[0:10]
Rating8= Rating8.rename(columns ={0 :'Rating'})

In [67]:
Laptop_New =pd.concat([Title3 , Price4, Rating8] , axis=1)
Laptop_New

,Laptop Name,Price,Rating
0,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,"1,99,990",2.9 out of 5 stars
1,HP Pavilion x360 Core i7 8th Gen 14-inch Touch...,"81,990",4.1 out of 5 stars
2,Asus Gaming Laptop ROG Strix G17 i7-10750H(16 ...,"1,20,790",4.4 out of 5 stars
3,(Renewed) Dell Latitude E7240 12.5-inch Laptop...,"39,999",3.6 out of 5 stars
4,(Renewed) HP EliteBook X360 1030 G2 Laptop (Co...,"49,990",2.6 out of 5 stars
5,(Renewed) HP EliteBook 1030 G2 X 360 Notebook ...,"49,990",2.2 out of 5 stars
6,(Renewed) Mi Notebook Horizon Edition 14 Intel...,"52,990",2.5 out of 5 stars
7,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...","1,29,990",4.0 out of 5 stars
8,HP 14s dr1006TU 14-inch Laptop (10th Gen Core ...,"84,299",4.4 out of 5 stars
9,(Renewed) Dell Latitude E7240 12.5-inch Laptop...,"39,998",2.9 out of 5 stars

# Q9 :- Scrape data of first 100 sunglasses listings on flipkart.com.

In [167]:
# Importing Libraries 

import numpy as np 
import  pandas as pd
from selenium import webdriver
from time import  sleep
import time
import string
from random import randint
import warnings
warnings.filterwarnings("ignore")

# Loading driver 
driver = webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

#Giving name of the website we have to  scrap
url = "https://www.flipkart.com/"

# Getting Url
driver.get(url)

time.sleep(5)

Brand = []
Product_Description = []
Product_Description1 = []
Price  = []
Discount = []

time.sleep(3)
Task1 =driver.find_element_by_xpath("//div[@class='_3Njdz7']/button")
Task1.click()
time.sleep(3)
Task2 = driver.find_element_by_xpath("//div[@class='O8ZS_U']/input")
Task2.send_keys('Sunglasses')
time.sleep(3)
Task3 = driver.find_element_by_xpath("//button[@class='vh79eN']")
Task3.click()
time.sleep(5)

In [168]:
#Getting Brand Data 
Task4 =driver.find_elements_by_xpath("//div[@class='_2B_pmu']")
for  by in Task4:
    qd = by.text
    Brand.append(qd)
    
Brand1 = pd .DataFrame(Brand)
Brand1 = Brand1.rename(columns = { 0 : 'Brand'})

In [169]:
time.sleep(5)

# Getting product description
Task5 =driver.find_elements_by_xpath("//a[@class='_2mylT6']")
for qz in Task5:
    mq = qz.text
    Product_Description.append(mq)

In [170]:
Product_Description1 = pd.DataFrame(Product_Description)
Product_Description1 = Product_Description1.rename(columns = { 0 : 'Product Description'}  )

In [171]:
time.sleep(5)
#Getting Price Data
Task6 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")
for qm in Task6:
    ap = qm.text
    Price.append(ap)
Price1 = pd.DataFrame(Price)
Price1 = Price1.rename(columns = { 0: 'Price'} )
time.sleep(5)
Task7 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span") 
for cy in Task7:
    qz =  cy.text
    Discount.append(qz)

In [172]:
time.sleep(2)
Discount1 = pd.DataFrame(Discount)
Discount1 = Discount1.rename({ 0 : 'Discount'} , axis =1)
time.sleep(2)

In [176]:
Brand2 = Brand1.iloc[0:38]
Product_Description2 = Product_Description1.iloc[0:38]
Price2 = Price1.iloc[0:38]
Discount2 = Discount1.iloc[0:38]

In [178]:
time.sleep(5)
Task8 = driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[2]")
Task8.click()
time.sleep(5)

Brand4 = []
Product_Description4 = []
Price4 = []
Discount4 = []
time.sleep(5)

# Getting Brand data of second page
Task9 =driver.find_elements_by_xpath("//div[@class='_2B_pmu']")
for  byx in Task9:
    qdx = byx.text
    Brand4.append(qdx)
Brand5 = pd .DataFrame(Brand4)
Brand6 = Brand5.rename(columns = { 0 : 'Brand'})
time.sleep(5)

In [179]:
# Getting Production Description data
Task10 =driver.find_elements_by_xpath("//a[@class='_2mylT6']")
Task10[0:5]

for qzq in Task10:
    mqq = qzq.text
    Product_Description4.append(mqq)
Product_Description5 = pd.DataFrame(Product_Description4)
Product_Description6 = Product_Description5.rename(columns = { 0 : 'Product Description'}  )
time.sleep(5)

In [180]:
Task11 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")
for qma in Task11:
    apa = qma.text
    Price4.append(apa)
Price5 = pd.DataFrame(Price4)
Price6= Price5.rename(columns = { 0: 'Price'} )
time.sleep(5)

In [181]:
Task12 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span")
for cyz in Task12:
    qzz =  cyz.text
    Discount4.append(qzz)
Discount5 = pd.DataFrame(Discount4)
Discount6 = Discount5.rename(columns = { 0 : 'Discount'})

In [183]:
Brand7 = Brand6.iloc[0:33]
Product_Description7 = Product_Description6.iloc[0:33]
Price7 = Price6.iloc[0:33]
Discount7 = Discount6.iloc[0:33]
sun1 =pd.concat([Brand7,Product_Description7,Price7,Discount7],axis=1)

In [185]:
time.sleep(4)
Task13 = driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[4]")
Task13.click()

time.sleep(5)

#Getting Brand Data from second Page
Task14 =driver.find_elements_by_xpath("//div[@class='_2B_pmu']")
Brand10 = []
Product_Description10 = []
Price10 = []
Discount10  = []
for  byf in Task14:
    qdf = byf.text
    Brand10.append(qdf)

Brand11 = pd .DataFrame(Brand10)
Brand12 = Brand11.rename(columns = { 0 : 'Brand'})

time.sleep(5)

#getting Product description data 
Task15 =driver.find_elements_by_xpath("//a[@class='_2mylT6']") 

for qzm in Task15:
    mqm = qzm.text
    Product_Description10.append(mqm)

Product_Description11= pd.DataFrame(Product_Description10)
Product_Description12 = Product_Description11.rename(columns = { 0 : 'Product Description'}  )
time.sleep(5)
Task16 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")
for qmw in Task16:
    apw = qmw.text
    Price10.append(apw)
Price11 = pd.DataFrame(Price10)
Price12 = Price11.rename(columns = { 0: 'Price'} )
time.sleep(5)
Task17 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span") 
for cyh in Task17:
    qzh =  cyh.text
    Discount10.append(qzh)
Discount11 = pd.DataFrame(Discount10)
Discount12 = Discount11.rename({ 0 : 'Discount'} , axis =1)

In [187]:

Brand13 = Brand12.iloc[0:29]
Product_Description13 = Product_Description12.iloc[0:29]
Price13  =Price12.iloc[0:29]
Discount13  = Discount12.iloc[0:29] 
sun2 =pd.concat([Brand13, Product_Description13,Price13, Discount13],axis=1)

In [189]:
time.sleep(4)
Task18 = driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[5]")
Task18.click()

time.sleep(5)

#Getting Brand Data from second Page
Task19 =driver.find_elements_by_xpath("//div[@class='_2B_pmu']")
Brand15 = []
Product_Description15 = []
Price15 = []
Discount15  = []
for  byfx in Task19:
    qdfx = byfx.text
    Brand15.append(qdfx)

Brand16 = pd .DataFrame(Brand15)
Brand17 = Brand16.rename(columns = { 0 : 'Brand'})

time.sleep(5)

#getting Product description data 
Task20 =driver.find_elements_by_xpath("//a[@class='_2mylT6']") 

for qzmq in Task20:
    mqmq = qzmq.text
    Product_Description15.append(mqmq)

Product_Description16= pd.DataFrame(Product_Description15)
Product_Description17 = Product_Description16.rename(columns = { 0 : 'Product Description'}  )
time.sleep(5)
Task21 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")
for qmwa in Task21:
    apwa = qmwa.text
    Price15.append(apwa)
Price16 = pd.DataFrame(Price15)
Price17 = Price16.rename(columns = { 0: 'Price'} )
time.sleep(5)
Task22 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span") 
for cyhz in Task22:
    qzhz =  cyhz.text
    Discount15.append(qzhz)
Discount16 = pd.DataFrame(Discount15)
Discount17 = Discount16.rename({ 0 : 'Discount'} , axis =1)

In [192]:
Brand18 = Brand17.iloc[0:20]
Product_Description18 = Product_Description17.iloc[0:20]
Price18  =Price17.iloc[0:20]
Discount18  = Discount17.iloc[0:20] 
sun4 =pd.concat([Brand18, Product_Description18,Price18, Discount18],axis=1)

In [194]:
# Getting Final Sunglasses data 
Sunglasses = pd.concat([Sun,sun1,sun2,sun4] , axis=0)
Sunglasses

,Brand,Product Description,Price,Discount
0,Fossil,UV Protection Round Sunglasses (51),"₹2,640",40% off
1,Fossil,Others Rectangular Sunglasses (54),"₹2,200",50% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹674,25% off
3,Elligator,UV Protection Round Sunglasses (54),₹312,87% off
4,Collet,"Gradient, Mirrored, UV Protection Aviator Sung...",₹199,86% off
...,...,...,...,...
15,New Specs,Gradient Rectangular Sunglasses (53),₹296,78% off
16,shah collections,Mirrored Aviator Sunglasses (55),₹214,78% off
17,PIRASO,"Gradient, UV Protection, Mirrored Round Sungla...",₹211,86% off
18,Fastrack,Mirrored Round Sunglasses (53),"₹1,039",20% off
19,Fossil,UV Protection Wayfarer Sunglasses (Free Size),"₹1,980",55% off

# 10 - Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [235]:
from selenium import webdriver
import os
import pandas as pd
from time import  sleep
import time

In [236]:
path = r"C:\Users\thunderbolt\sof\chromedriver.exe"

driver=webdriver.Chrome(path)
my_page=driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

time.sleep(3)

insert=driver.find_element_by_xpath("//div[@class='swINJg _3nrCtb']/span").click()

In [237]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [238]:
I_phone={}
I_phone['Rating']=[]
I_phone['Review_summary']=[]
I_phone['Full_review']=[]
I_phone

{'Rating': [], 'Review_summary': [], 'Full_review': []}

In [239]:
for ab in rating:
    I_phone['Rating'].append(ab.text)
print(len(I_phone['Rating']))

for bc in review_summary:
    I_phone['Review_summary'].append(bc.text)
print(len(I_phone['Review_summary']))

for cd in full_review:
    I_phone['Full_review'].append(cd.text)
print(len(I_phone['Full_review']))

10
10
10

In [240]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[4]").click()

In [241]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [242]:
for cc in rating:
    I_phone['Rating'].append(cc.text)
print(len(I_phone['Rating']))

for bcc in review_summary:
    I_phone['Review_summary'].append(bcc.text)
print(len(I_phone['Review_summary']))

for cdc in full_review:
    I_phone['Full_review'].append(cdc.text)
print(len(I_phone['Full_review']))

20
20
20

In [243]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[5]").click()

In [244]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [245]:
for acc in rating:
    I_phone['Rating'].append(acc.text)
print(len(I_phone['Rating']))

for zcc in review_summary:
    I_phone['Review_summary'].append(zcc.text)
print(len(I_phone['Review_summary']))

for odc in full_review:
    I_phone['Full_review'].append(odc.text)
print(len(I_phone['Full_review']))

30
30
30

In [247]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[6]").click()

In [248]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [249]:
for acc in rating:
    I_phone['Rating'].append(acc.text)
print(len(I_phone['Rating']))

for zcc in review_summary:
    I_phone['Review_summary'].append(zcc.text)
print(len(I_phone['Review_summary']))

for odc in full_review:
    I_phone['Full_review'].append(odc.text)
print(len(I_phone['Full_review']))

40
40
40

In [250]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[7]").click()

In [251]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [252]:
for ab in rating:
    I_phone['Rating'].append(ab.text)
print(len(I_phone['Rating']))

for bc in review_summary:
    I_phone['Review_summary'].append(bc.text)
print(len(I_phone['Review_summary']))

for cd in full_review:
    I_phone['Full_review'].append(cd.text)
print(len(I_phone['Full_review']))

50
50
50

In [253]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[8]").click()

In [254]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [255]:
for ab in rating:
    I_phone['Rating'].append(ab.text)
print(len(I_phone['Rating']))

for bc in review_summary:
    I_phone['Review_summary'].append(bc.text)
print(len(I_phone['Review_summary']))

for cd in full_review:
    I_phone['Full_review'].append(cd.text)
print(len(I_phone['Full_review']))

60
60
60

In [256]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[9]").click()

In [257]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [258]:
for ab in rating:
    I_phone['Rating'].append(ab.text)
print(len(I_phone['Rating']))

for bc in review_summary:
    I_phone['Review_summary'].append(bc.text)
print(len(I_phone['Review_summary']))

for cd in full_review:
    I_phone['Full_review'].append(cd.text)
print(len(I_phone['Full_review']))

70
70
70

In [259]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[10]").click()

In [260]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [261]:
for ab in rating:
    I_phone['Rating'].append(ab.text)
print(len(I_phone['Rating']))

for bc in review_summary:
    I_phone['Review_summary'].append(bc.text)
print(len(I_phone['Review_summary']))

for cd in full_review:
    I_phone['Full_review'].append(cd.text)
print(len(I_phone['Full_review']))

80
80
80

In [262]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[12]").click()

In [263]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [264]:
for ab in rating:
    I_phone['Rating'].append(ab.text)
print(len(I_phone['Rating']))

for bc in review_summary:
    I_phone['Review_summary'].append(bc.text)
print(len(I_phone['Review_summary']))

for cd in full_review:
    I_phone['Full_review'].append(cd.text)
print(len(I_phone['Full_review']))

90
90
90

In [265]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[11]").click()

In [266]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [267]:
for ab in rating:
    I_phone['Rating'].append(ab.text)
print(len(I_phone['Rating']))

for bc in review_summary:
    I_phone['Review_summary'].append(bc.text)
print(len(I_phone['Review_summary']))

for cd in full_review:
    I_phone['Full_review'].append(cd.text)
print(len(I_phone['Full_review']))

100
100
100

In [268]:
df=pd.DataFrame(I_phone)
df

,Rating,Review_summary,Full_review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
3,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
95,5,Excellent,100% Original
96,5,Terrific purchase,No word to say ..simply Awesome. Love it😘😘😘😘
97,5,Worth every penny,Excellent phone it’s a pro and value for the m...
98,5,Best in the market!,"Best Camera, good speakers and I guess green i..."
99,5,Worth every penny,Really a giant for battery backup and really g...